body {
    background-image: url(/resources/img/Funny-Cats-Fight-Wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Start screen selectors*/


/*Selection Screen selectors*/
.selectionScreen {
    display: none
}

.characterSelection {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.playerName {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.selectionToFightButton {
    width: 5em;
}

/*Fight Screen selectors*/

.fightScreen {
    display: none;
}

/*Winner Screen selectors*/

.winnerScreen {
 display: none;
}

.player1Name, .player2Name, .player1HealthIndicator, .player2HealthIndicator, .winnerText {
    color: white;
}