body {
    background-image: url(../resources/img/Funny-Cats-Fight-Wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/*Start screen selectors*/



/*Selection Screen selectors*/
.selectionScreen {
    display: none
}

.characterSelection {
    display: flex;
    justify-content: space-evenly;
}

.playerName {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.player1Name, .player2Name {
    width: 20em;
}

.selectionToFightButton {
    width: 5em;
}

/*Fight Screen selectors*/

.fightScreen {
    display: none;
}

/*Winner Screen selectors*/

.winnerScreen {
 display: none;
}