/*Start screen classes*/
.startScreen {
    background-image: url(../resources/img/Funny-Cats-Fight-Wallpaper.jpg);
    min-height: 100vh;
    background-size: cover;
    margin: 0;
    border: 0;
}

.playerName {
    display: flex;
}

/*Selection Screen classes*/
.selectionScreen {
    display: none
}